@font-face {
    font-family: 'Scada-Regular';
    src: url('fonts/Scada-Regular.ttf');
}

@font-face{
    font-family: 'ANUDRG__';
    src: url('fonts/ANUDRG__.ttf');
}

body{
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0;
	padding: 0;
	background-color: #B7B1AE;
	font-family: 'Scada-Regular';
}



header{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	width: 100%;
	background-image: url(pictures/header_picture1280.jpg);
	background-position: top;
	background-repeat: no-repeat;
	background-size: 100%;
	height: 650px;
}

#title img{
	border-radius: 0 10px 10px 10px;
	box-shadow: -5px 10px 10px black;
}

header img{
	width: 36%;
}

nav{
	position: relative;
	background-image: linear-gradient(to top, #B78351, #C4A181);
	width: 100%;
	height: 50px;
	border-bottom-left-radius: 10px;
	justify-content: center;
}

nav ul{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}

nav li{
	list-style: none;
}

nav li a{
	text-decoration: none;
	color: black;
	font-family: 'ANUDRG__';
}

h1{
	text-align: center;
}

#missions h2{
	text-align: center;
}

#missions{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	text-align: justify;
}

#missions article{
	padding: 1.5%;
}

section{
	margin-top: 5px;
	width: 68%;
	padding: 0 2%;
	font-size: 1.5em;
	box-shadow: 0 0 10px black;
	background-color: #DBCDC7;
}

footer{
	height: 350px;
	width: 100%;
	background-image: linear-gradient(to bottom, #B7B1AE, #847F7C);
	margin-top: 10px;
	padding: 20px 0;
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-around;
}

#facebook{
	display: block;
	height: 96px;
	width: 96px;
	background-image: url(pictures/facebook-icon.png);
	background-repeat: no-repeat;
}

form{

}

input{
	border-radius: 5px;
}

textarea{
	width: 500px;
	height: 130px;
	border-radius: 5px;
}

@media screen and (max-width: 1024px)
{

	header{
		background-image: url(pictures/header_picture1024.jpg);
		flex-direction: column;
		height: 700px;
	}

	nav{
		border-bottom-left-radius: 0;
		height: 70px;
	}

	nav li{
		font-size: 120%;
		height: 70px;
	}

	section{
		width: 90%;
		box-shadow: none;
	}

	#missions{
		flex-direction: column;
		justify-content: none;
		text-align: left;

	}
	footer{
		width: 100%;
		padding: 0;
	}
}