body{
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	margin: 0;
	padding: 0;
}

header{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	width: 100%;
	background-image: url(pictures/photo_3.jpg);
	background-position: top;
	background-repeat: no-repeat;
	background-size: 100%;
	height: 800px;
}

#title{
	width: 100%;
	text-align: left;
}

#title img{
	border-radius: 0 10px 10px 10px;
	box-shadow: -5px 10px 10px black;
}

header img{
	width: 36%;
}

nav{
	position: relative;
	background-color: #B78351;
	width: 100%;
	height: 50px;
}

nav ul{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}

nav li{
	list-style: none;
}

li a{
	text-decoration: none;
}

#missions{
	background-color: #F6A05D;
	width: 80%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}