@font-face {
    font-family: 'Scada-Regular';
    src: url('fonts/Scada-Regular.ttf');
}

body{
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	margin: 0;
	padding: 0;
	background-color: #DBCDC7;
	font-family: 'Scada-Regular';
}

header{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	width: 100%;
	background-image: url(pictures/photo_3.jpg);
	background-position: top;
	background-repeat: no-repeat;
	background-size: 100%;
	height: 800px;
}

#title{
	width: 100%;
	text-align: left;
	text-shadow: -5px 5px 5px black;
}

#title img{
	border-radius: 0 10px 10px 10px;
	box-shadow: -5px 10px 10px black;
}

#title p{
	padding-left: 3%;
	padding-right: 5%;
	color: white;
	font-size: 40px;

}

#title em{
	font-style: normal;
	font-size: 70px;
}

header img{
	width: 36%;
}

nav{
	position: relative;
	background-color: #B78351;
	width: 100%;
	height: 50px;
	border-bottom-left-radius: 10px;
}

nav ul{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}

nav li{
	list-style: none;
}

li a{
	text-decoration: none;
}

#missions{
	background-color: #F6A05D;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}